# OS
.DS_Store

# Docker volumes (not tracked)
postgres_data/

# Ignore key files for decrypting credentials and more.
/config/*.key


/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
