services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bin/shakapacker-dev-server & rails server -b 0.0.0.0"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
      - "3035:3035"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432
      WEBPACKER_DEV_SERVER_HOST: 0.0.0.0

volumes:
  postgres_data:
  bundle_cache:
  node_modules:
